.edj-v2-fnav-box *
{
    -webkit-box-sizing: border-box; /* Safari */
       -moz-box-sizing: border-box; /* Firefox */
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;  /* Chrome all / Safari all */
       -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */

    color: #a1b2cf;
}
.edj-v2-fnav-box a,
.edj-v2-fnav-box a:hover,
.edj-v2-fnav-box a:active
{
    text-decoration: none;
}
.edj-v2-fnav-box a
{
    display: inline-block;

    width: 100%;
}
.edj-v2-fnav-box
{
    font-size: 14px;

    position: fixed;
    z-index: 100000000;
    top: 40px;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 60px;
    height: auto;

    background: #354052;
}
.edj-v2-fnav-box-exp
{
    width: 230px;
}
.edj-v2-fnavs
{
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
}
.edj-v2-fnavs li
{
    display: block;
}
.edj-v2-fnavs ul
{
    display: none;
}
.edj-v2-fnavs li li
{
    line-height: 40px;

    border-bottom: 1px solid #333e4f;
}
.edj-v2-fnavs li:hover
{
    background: #2a3342;
}
.edj-v2-fnavs li .tree-branch  div,
.edj-v2-fnavs li .tree-branch  .tree-leaf,
.edj-v2-fnavs .root-branch ul .tree-leaf
{
    padding-left: 2.5em!important;
}
.edj-v2-fnavs li .tree-branch .tree-branch  div,
.edj-v2-fnavs li .tree-branch  ul  .tree-leaf
{
    padding-left: 3.5em!important;
}
.edj-v2-fnavs li .tree-branch .tree-branch .tree-branch  div,
.edj-v2-fnavs li .tree-branch  ul ul .tree-leaf
{
    padding-left: 4.5em!important;
}
.tree-leaf
{
    height: 40px;

    background: #354052;
}
.edj-v2-fnavs div
{
    clear: both;
    overflow: hidden;

    height: 40px;

    cursor: pointer;

    border-bottom: 1px solid #333e4f;
}
.edj-v2-fnavs .right-arr
{
    display: none;
}
.edj-v2-fnavs .right-arr,
.edj-v2-fnavs .active-arr
{
    float: right;

    width: 8px;
    height: 5px;
    margin-top: 17px;
    margin-right: .5em;
}
.edj-v2-fnavs .right-arr
{
    height: 10px;

    background: url(fnavs-s.png) -249px 0 no-repeat transparent;
}
.edj-v2-fnavs .active-arr
{
    background: url(fnavs-s.png) -257px 0 no-repeat transparent;
}
.edj-v2-fnavs div .edj-v2-tree-title
{
    display: none;

    cursor: pointer;
}
.edj-v2-fnavs div > span
{
    line-height: 40px;

    float: left;
}
.edj-v2-fnavs div > .edj-v2-ico-nav
{
    height: 18px;
    margin-top: 11px;
    margin-right: .5em;
}
.edj-v2-ico-user
{
    width: 15px;
    margin-left: 22px;

    background: url(fnavs-s.png) 0 0 no-repeat transparent;
}
.edj-v2-ico-notice
{
    width: 15px;
    margin-left: 22px;

    background: url(fnavs-s.png) -16px 0 no-repeat transparent;
}
.edj-v2-ico-operate
{
    width: 15px;
    margin-left: 23px;

    background: url(fnavs-s.png) -30px 0 no-repeat transparent;
}
.edj-v2-ico-call
{
    width: 14px;
    margin-left: 24px;

    background: url(fnavs-s.png) -45px 0 no-repeat transparent;
}
.edj-v2-ico-client
{
    width: 15px;
    margin-left: 22px;

    background: url(fnavs-s.png) -59px 0 no-repeat transparent;
}
.edj-v2-ico-brand
{
    width: 17px;
    margin-top: 16px !important;
    margin-left: 22px;

    background: url(fnavs-s.png) -74px 0 no-repeat transparent;
}
.edj-v2-ico-driverm
{
    width: 16px;
    margin-left: 22px;

    background: url(fnavs-s.png) -91px 0 no-repeat transparent;
}
.edj-v2-ico-market
{
    width: 15px;
    margin-top: 13px!important;
    margin-left: 22px;

    background: url(fnavs-s.png) -107px 0 no-repeat transparent;
}
.edj-v2-ico-finance
{
    width: 17px;
    margin-left: 21px;

    background: url(fnavs-s.png) -122px 0 no-repeat transparent;
}
.edj-v2-ico-sys
{
    width: 15px;
    margin-left: 22px;

    background: url(fnavs-s.png) -139px 0 no-repeat transparent;
}

.edj-v2-fnav-switch
{
    position: absolute;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 40px;

    background: #3f4c61;
}
.edj-v2-fnav-switch .edj-v2-fnav-btn
{
    display: inline-block;

    width: 47px;
    height: 18px;
    margin-top: 11px;
    margin-left: 6px;

    background: url(fnavs-s.png) -154px 0 no-repeat transparent;
}
.edj-v2-fnav-switch .edj-v2-fnav-active
{
    background: url(fnavs-s.png) -202px 0 no-repeat transparent;
}
.tree-branch-show
{
    background: #2a3342;
}
.tree-branch-show *
{
    color: #fff;
}
.tree-branch-show > div > span
{
    color: #399bff !important;
}
